<nav>
    <div class="logo">
        <img src="assets/imagen/FINBANK ONLINE.png">
    </div>  
    <div class="completo">
        <div class="bg1">
            <p class="titulo-bg1">Juntos al Maximo</p>
            <br />
            <p class="frase-titulo">
            Pertenecer no es donde estamos, es lo que sentimos cuando estamos juntos.
            </p>
        </div>
        <div class="welcome">
            <div class="izquierdo">
            <h1 class="welcome-h1">BIENVENIDOS A DINERS CLUB INTERNATIONAL</h1><br>
            <P class="welcome-p"
                >Ya sea al otro lado del mundo oa la vuelta de la esquina, las tarjetas
                Diners Club ofrecen beneficios para ayudarlo en su viaje. Los miembros
                de nuestro Club están invitados a vivir lo cotidiano y lo inolvidable
                con nosotros.</P
            >
            </div>
            <div class="medio">
            <div class="arriba"></div>
            <div class="med"></div>
            <div class="abajo"></div>
            </div>
            <div class="derecho"></div>
        </div>
        <div class="promos">
            <a href="?p=productosyservicios"><button class="boton-promos">Productos y Servicios</button></a>
        </div>
        <div class="join">
            <div class="join-izquierdo">
            <div class="imagen"></div>
            </div>
            <div class="join-derecho">
            <h1 class="h1-join">Unete a nuestro Club!</h1>
            <p class="unete">
                Disfrute del acceso a experiencias, beneficios y servicios de clase
                mundial. Solicite una tarjeta en el sitio web del Diners Club local de
                su país.
            </p>
            <a href="?p=promociones"><button class="registrar">Promociones</button></a>
            </div>
        </div>
        </div>
</nav>